In [18]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

## 加载过滤后的电影和评分

In [19]:
df_movies = pd.read_csv('../../data/ml-clean/movies_v2.csv', index_col=0, engine= 'python')

In [20]:
df_ratings = pd.read_csv('../../data/ml-clean/ratings_v2.csv', index_col=0, engine = 'python')

In [21]:
df_movies.shape

(15171, 14)

In [22]:
df_ratings.shape

(15654592, 5)

## 导出评论数最多的电影

In [23]:
df_rating_count = df_ratings['movieId'].value_counts().reset_index()

In [24]:
df_rating_count.columns = ['movieId', 'ratings_count']

In [25]:
df_rating_count['ratings_count'].head(1000).min()

3708

In [26]:
df_hot_movies = pd.merge(df_movies, df_rating_count.head(1000), on='movieId')

In [27]:
df_hot_movies.to_csv('../../data/ml-clean/hot_movies.csv')

## 将热门电影的movieId导出json

In [28]:
df_hot_movies = pd.read_csv('../../data/ml-clean/hot_movies.csv', index_col=0)

In [29]:
df_hot_movies.shape

(1000, 15)

In [30]:
df_hot_movies['movieId'].to_json('../../data/wxcloud/hot_movies.json', orient='records')

## 相似电影导出json

In [32]:
df_similar_movies = pd.read_csv('../../data/ml-clean/similar_movies.csv', index_col=0)

In [33]:
df_similar_movies['similar_movies'] = df_similar_movies.filter(like='sim_').values.tolist()

In [34]:
df_similar_movies[['movieId','similar_movies']].head()

   movieId                                     similar_movies
0        1  [3593, 1760, 810, 181, 2807, 4125, 42721, 393,...
1        2  [2712, 3593, 1760, 3676, 288, 45, 181, 2551, 6...
2        3  [2712, 3676, 288, 45, 2395, 69134, 3593, 2551,...
3        4  [3593, 1760, 810, 181, 2807, 4125, 42721, 393,...
4        5  [2712, 3676, 288, 45, 2395, 2076, 69134, 162, ...

In [35]:
df_similar_movies[['movieId','similar_movies']].to_json('../../data/wxcloud/similar_movies.json', orient='records', lines=True)